@import '../../variables';
@import '../../utils';

.Project{
   .swiper-button-next { color: red !important}
   padding: 30px 0rem;
   margin: auto;
   .ProjectMain{
      margin-bottom: 50px;
      .Carousel{
         width: 100%;
         height: 60vw;
         margin-bottom: 50px;
         .Slide{
            width: 100%;
            height: 100%;
            .SlideImg{
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
      .Description{
         text-transform: capitalize;
         .Description_Section{
            margin-bottom: 2.5em;
            .Description_Section_Title{
               font-size: 1.4em;
               font-weight: bold;
               color: $greenColor;
               margin-bottom: 0.7em;
            }
            p{
               font-size: 1.1em;
               padding-left: 1em;
               margin: 0;
            }
            .Description_Section_Feature{
               margin-bottom: 1.5em;
               div{
                  font-size: 1.1em;
                  padding-left: 1em;
               }
               ul{
                  text-transform: lowercase;
                  line-height: 2em;
                  padding-left: 3em;
                  list-style: none;
                  color: hsla(0,0%,100%,.8);
                  word-wrap: normal;
                  word-spacing: 1px;
                  li::before{
                     content: ">_ ";
                     font-size: 1.2em;
                  }
               }
            }
         }
      }
   }
   .ProjectSide{
      span{
         text-transform: capitalize;
         font-size: 1em;
         background-color: $darkBlueColor;
         margin: 5px;
         &:hover{
            background-color: $darkBlueColor !important;
            cursor: auto;
         }
      }
      .Title{
         font-size: 1.3em;
         text-transform: capitalize;
         font-weight: bold;
         margin-bottom: 20px;
      }
      .Link{
         margin-bottom: 1em;
         div{
            text-transform: capitalize;
            margin-bottom: 0.5em;
         }
      }
      .Demo{
         text-decoration: none;
         color: $greenColor;
         font-size: 1.1em;
         word-break: break-all;
      }
   }
}


@media(min-width: $small){
   .Project{
      .ProjectMain{
         .Carousel{
            height: 350px;
         }
      }
   }
}

@media(min-width: $medium){
   .Project{
      font-size: 18px;
      .ProjectMain{
         .Carousel{
            height: 450px;
         }
      }
   }
}

@media(min-width: $large){
   .Project{
      font-size: 20px;
   }
}

@media(min-width: $xlarge){
   .Project{
      @include flex-center-start;
      .ProjectMain{
         width: 60%;
         padding-right: 50px;
      }
      .ProjectSide{
         width: 40%;
      }
   }
}