@import '../../../variables';

.Container{
   width: 100%;
   margin: auto;
   padding: 0 1rem;
}

@media (min-width: $small){
   .Container{
      max-width: 540px;     
   }
}

@media (min-width: $medium){
   .Container{
      max-width: 720px;      
   }
}

@media (min-width: $large){
   .Container{
      max-width: 960px;
   }
}

@media (min-width: $xlarge){
   .Container{
      max-width: 1200px;
      padding: 0 2rem;
   }
}