@import '../../variables';
@import '../../utils';

.portfolio{
   font-size: 18px;
   padding-bottom: 3em;
   width: 100%;
   margin: 0 auto;
   .portfolioController{
      ul{
         list-style: none;
         padding: 0;
         li{
            font-size: 1em;
            margin: 0 5px 10px;
            text-transform: capitalize;
         }
      }
   }
   .warning{
      transition: 0.1s;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.2em;
   }
   .warningShow{
      opacity: 1 !important;
   }
   .warningHide{
      opacity: 0;
   }
   .projects{
      overflow: hidden;
      @include flex-center-center-col;
      .project{
         cursor: pointer;
         position: relative;
         width: 100%;
         margin-bottom: 2rem;
         overflow: hidden;
         // transition: 0.3s;
         &:hover{
            .overlay{
               transform: translateY(100%);
            }
         }
         .overlay{
            @include flex-center-center;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $lightBlueColor;
            transition: 0.25s;
            z-index: 99;
            .view{
               width: 70px;
               height: 70px;
               img{
                  cursor: pointer;
                  width: 100%;
                  height: auto;
                  filter: brightness(0) invert(1);
               }
            }
         }
         .show{
            transform: translateY(100%);
         }
         .img{
            position: relative;
            width: 100%;
            padding-bottom: 60%;
            img{
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         .info{
            background-color: $lightBlueColor;
            padding: 20px;
            div{
               font-size: 1.1em;
               margin-bottom: 7px;
            }
            p{
               font-size: 0.9em;
               margin: 0;
               color: #a9a9a9;
            }
         }
      }
   }
}


@media(min-width: $small){
   .portfolio{
      font-size: 20px;
   }
}

@media(min-width: $medium){
   .portfolio{
      font-size: 18px;
      .portfolioController{
         margin-bottom: 50px;
         margin-top: 50px;
      }
      .projects{
         @include flex-start-center;
         flex-wrap: wrap;
         .project{
            width: calc(50% - 1rem);
            margin-right: 1rem;
            .info{
               padding: 15px 20px;
            }
         }
      }
   }
}

@media(min-width: $large){
   .portfolio{
      font-size: 20px;
      .projects{
         .project{
            .info{
               padding: 20px;
            }
         }
      }
   }
}

@media(min-width: $xlarge){
   .portfolio{
      .projects{
         @include flex-start-center;
         .project{
            width: calc(100% / 3 - 1rem);
            margin-right: 1rem;
         }
      }
   }
}