@import '../../variables';
@import '../../utils';

.portfolio{
   padding-bottom: 3em;
   width: 100%;
   margin: 0 auto;
   .portfolioController{
      ul{
         list-style: none;
         padding: 0;
         li{
            margin: 0 5px 10px;
            text-transform: capitalize;
         }
      }
   }
   .warning{
      transition: 0.1s;
   }
   .warningShow{
      height: auto !important;
      width: auto !important;
      opacity: 1 !important;
   }
   .warningHide{
      height: 0;
      width: 0;
      opacity: 0;
   }
   .projects{
      @include flex-center-center-col;
      .project{
         cursor: pointer;
         position: relative;
         width: 100%;
         margin-bottom: 2rem;
         overflow: hidden;
         &:hover{
            .overlay{
               transform: translateY(100%);
            }
         }
         .overlay{
            @include flex-center-center;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $lightBlueColor;
            transition: 0.25s;
            .view{
               width: 70px;
               height: 70px;
               img{
                  cursor: pointer;
                  width: 100%;
                  height: auto;
                  filter: brightness(0) invert(1);
               }
            }
         }
         .show{
            transform: translateY(100%);
         }
         .img{
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 220px;
         }
         .info{
            background-color: $lightBlueColor;
            padding: 20px;
            div{
               font-size: 1.4rem;
               margin-bottom: 7px;
            }
            p{
               margin: 0;
               color: #a9a9a9;
            }
         }
      }
   }
}


@media(min-width: $medium){
   .portfolio{
      .portfolioController{
         margin-bottom: 50px;
         margin-top: 50px;
      }
      .projects{
         @include flex-start-center;
         flex-wrap: wrap;
         .project{
            width: calc(50% - 1rem);
            margin-right: 1rem;
         }
      }
   }
}

@media(min-width: $xlarge){
   .portfolio{
      .projects{
         @include flex-start-center;
         .project{
            width: calc(100% / 3 - 1rem);
            margin-right: 1rem;
         }
      }
   }
}