@import '../../variables';
@import '../../utils';
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
.About{
   .First{
      margin: auto;
      margin-bottom: 3rem;
      .Info{
         p{
            color: #fff;
            line-height: 1.6;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            span{
               font-weight: bold;
               color: #f7df1e;
               text-decoration: underline;
            }
         }
         q{
            font-family: 'Bitter', serif;
            font-size: 2rem;
            line-height: 1.6;
            color: $orangeColor;
         }
      }
      .Img{
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
   .Final{
      .Skills{
         ul{
            background-color: $lightBlueColor;
            margin: 0;
            list-style: none;
            @include flex-center-center;
            img{
               width: 50px;
               height: 50px;
            }
         }
         
      }
   }
}

@media(min-width: $large){
   .First{
      @include flex-center-start;
      height: 400px;
      background-color: $lightBlueColor;
      .Info{
         width: 50%;
         padding: 0 2rem;
         height: 100%;
         @include flex-center-center-col;
         width: 60%;
         p{
            margin: 0 0 0.5rem;
            font-size: 1.6rem !important;
         }
      }
      .Img{
         // padding-right: 50px;
         width: 50%;
         height: 100%;
         img{
            height: 100% !important;
            width: 90% !important;
            object-fit: cover;
         }
      }
   }
}

@media(min-width: $xlarge){
   .First{
      @include flex-center-start;
      .Info{
         width: 60%;
         padding: 0 2rem 0 0rem;
         p{
            margin: 0 0 0.5rem;
         }
         q{
            font-size: 2rem !important;
            line-height: 1.5;
         }
      }
      .Img{
         width: 40%;
      }
   }
}