@import '../../variables';
@import '../../utils';

.navigation{
   background-color: $darkBlueColor;
   div.linksContainer{
      @include flex-between-center;
      height: $navHeight;
      div{
         font-weight: bold;
      }
      ul.navList{
         display: none;
         padding: 0;
         margin: 0;
         list-style: none;
         a{
            color: $whiteColor;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.1s;
         }
      }
   }
}


@media(min-width: $large){
   .linksContainer{
      margin: auto;
   }
}

@media(min-width: $xlarge){
   ul.navList{
      display: flex !important;
      @include flex-center-center;
   }
   .stackedIcon{
      display: none;
   }
}