@import '../../variables';
@import '../../utils';

.Home{
   @include fullVh;
   @include flex-start-center-col;
   margin: auto;
   font-size: 16px;
   padding: 1em 0;
   .Info{
      h2{
         font-size: 3.2em;
         margin-bottom: 0.2em;
         span{
            color: $greenColor;
         }
      }
      h3{
         margin-top: 0;
         font-weight: normal;
         font-size: 2em;
      }
      p{
         font-size: 1.2em;
         color: rgba(255, 255, 255, 0.7);
         line-height: 1.5;
      }
      a{
         @extend .Button;
      }
   }
}


@media(min-width: $large){
   .Home{
      @include flex-between-center;
      .Info{
         width: 60%;
      }
   }
}

@media(min-width: $xlarge){
   .Home{
      font-size: 20px;
      padding: 0;
      @include flex-between-center;
      .Info{
         width: 60%;
      }
   }
}