@import '../../variables';

.Section{
   padding: 2rem 0rem;
   background-color: $lightBlueColor;
   color: $whiteColor;
   margin-bottom: 3rem;
   h3{
      font-weight: bold;
      font-size: 2rem;
      margin: 0;
      margin-bottom: 0.5rem;
   }
   p{
      margin: 0;
      color: rgba(277, 277, 277, 0.7);
      color: #a9a9a9;
      text-transform: capitalize;
   }
}