@import './variables';

@mixin fullVh{
   min-height: calc(100vh - #{$navHeight});
}

@mixin flex-center-center{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row !important;
}

@mixin flex-start-center {
   @include flex-center-center;
   justify-content: flex-start;
}

@mixin flex-center-start {
   @include flex-center-center;
   align-items: flex-start !important;
}

@mixin flex-between-center {
   @include flex-center-center;
   justify-content: space-between;
}

@mixin flex-center-center-col {
   @include flex-center-center;
   flex-direction: column !important;
}

@mixin flex-start-center-col {
   @include flex-center-center;
   flex-direction: column !important;
   justify-content: flex-start !important;
}

.ButtonBlueprintEffect{
   background: $greenColor !important;
   color: $whiteColor !important;
}

%ButtonBlueprint{
   text-align: center;
   background-color: $darkBlueColor;
   text-decoration: none;
   border: 2px solid $greenColor;
   color: $greenColor;
   cursor: pointer;
   outline: transparent;
   font-size: 1.2rem;
   transition: 0.1s;
   &:hover{
      @extend .ButtonBlueprintEffect;    
   }
   &:disabled{
      opacity: 0.7;
      cursor: not-allowed;
      &:hover{
         background-color: $darkBlueColor;
         color: $greenColor;
      }
   }
}

.Button {
   @extend %ButtonBlueprint;
   display: block;
   width: 100%;
   padding: 20px 40px;
}

.ButtonCustom{
   @extend %ButtonBlueprint;
   display: inline-block;
   padding: 10px 15px;
   background-color: $lightBlueColor;
   color: $whiteColor;
   border: none;
}

@media(min-width: $small){
   .Button{
      max-width: 300px;
   }
}