$greenColor: #2EC269;
$darkGreenColor: rgb(8, 121, 53);
// $greenColor: #F16529;
$darkBlueColor: #1d1d1d;
$lightBlueColor: #282832;
$whiteColor: #ffffff;

$navHeight: 75px;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

:export {
   navHeight: $navHeight;
}