@import '../../variables';
@import '../../utils';

$orbit: #565b5e;
$sun: 40px;
$sunColor: #FD9A26;
$earth: 15px;

$orbits: (
	1:(
		radius: 120px,
		delay: 0.8,
		planets: (
         size: 0.5,
         background-color: #ED553B,
         border-color: rgb(211, 67, 42)
		)
	),
	2:(
		radius: 220px,
		delay: 1,
		planets: (
         size: 1,
         background-color: #00B9B9,
			border-color: #005353
		)
	),
);

@keyframes sun-shadow {
   0% {box-shadow:0px 0px 20px $sunColor;}
   50% {box-shadow:0px 0px 50px $sunColor;}
   100% {box-shadow:0px 0px 20px $sunColor;}
}

@keyframes spin {
   from {transform:rotateZ(0deg);}
   to {transform:rotateZ(-360deg);}
}

@function spinDelay($speed){
	@return $speed * 10s;
}


@mixin absolute-center-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin orbit-radius($x){
	width: $x;
	height: $x;
	border-radius: 50%;
	border: 1px solid $orbit;
	position: absolute;
	top: calc(50% - #{$x} / 2);
	left: calc(50% - #{$x} / 2);
}

@mixin sub-planets($x, $background-color){
	width: $x;
	height: $x;
	background-color: $background-color;
	border-radius: 50%;
}

@mixin planets($x, $background-color, $border-color){
	$relative: $x * $earth;
	@include sub-planets($relative, $background-color);
	border-color: $border-color;
	border-style: solid;
	box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
}

.SolarSystem{
	width: 100%;
   height: 250px;
   margin: 30px auto 30px;
	.content{
      width: 100%;
      height: 100%;
		transform-style: preserve-3d;
		position: relative;
		.sun{
			@include absolute-center-center;
			@include sub-planets($sun, $sunColor);
			box-shadow:0px 0px 50px #F90;
			animation: sun-shadow 2s ease infinite;
		}
		
		@each $key, $data in $orbits {
			$orbitRad: map-get($data, "radius");
			$orbitDelay: map-get($data, "delay");
			$size: map-get(map-get($data, "planets"), "size");
			$background-color: map-get(map-get($data, "planets"), "background-color");
			$border-color: map-get(map-get($data, "planets"), "border-color");
			
			.orbit#{$key}{
				@include orbit-radius($orbitRad);
				animation: spin spinDelay($orbitDelay) infinite linear;
				.planet{
					transform-style: preserve-3d;
					position: relative;
					span{
						@include absolute-center-center;
						@include planets($size, $background-color, $border-color);
					}
				}
			}
		}
	}
}

@media(min-width: $large){
   .SolarSystem{
		width: 40%;
		margin: 0;
   }
}
